{% extends "alunos/base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-7">

<h2 class="text-center mb-4">Cálculo de IMC</h2>

<div class="card shadow">

<div class="card-body p-4">

<form method="post">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">Peso (kg)</label>

<input
class="form-control"
type="number"
step="0.01"
name="peso"
placeholder="Ex: 70"
required>

</div>

<div class="mb-3">

<label class="form-label">Altura (m)</label>

<input
class="form-control"
type="number"
step="0.01"
name="altura"
placeholder="Ex: 1.75"
required>

</div>

<div class="d-grid">

<button class="btn btn-primary btn-lg">
Calcular IMC
</button>

</div>

</form>

</div>

</div>

{% if imc %}

<!-- RESULTADO -->

<div class="card shadow mt-4">

<div class="card-body">

<h4 class="text-success">Resultado</h4>

<p class="fs-5">

<strong>IMC:</strong> {{ imc }}

</p>

<p>

<strong>Classificação:</strong> {{ classificacao }}

</p>

<p>

<strong>Exercícios sugeridos:</strong>

<br>

{{ exercicio }}

</p>

<!-- BARRA IMC -->

<div class="progress mt-3" style="height:30px">

<div class="progress-bar bg-success"
style="width:25%">Normal</div>

<div class="progress-bar bg-warning"
style="width:25%">Sobrepeso</div>

<div class="progress-bar bg-danger"
style="width:50%">Obesidade</div>

</div>

<div class="d-grid mt-4">

<a class="btn btn-success"
href="/imc/pdf/?imc={{ imc }}&classificacao={{ classificacao }}&exercicio={{ exercicio }}">

Baixar resultado em PDF

</a>

</div>

</div>

</div>

{% endif %}

<!-- TABELA OMS -->

<div class="card shadow mt-4">

<div class="card-body">

<h4>Tabela de Classificação de IMC</h4>

<table class="table table-striped">

<thead class="table-dark">

<tr>

<th>IMC</th>
<th>Classificação</th>

</tr>

</thead>

<tbody>

<tr>
<td>Menor que 18.5</td>
<td>Abaixo do peso</td>
</tr>

<tr>
<td>18.5 – 24.9</td>
<td>Peso normal</td>
</tr>

<tr>
<td>25 – 29.9</td>
<td>Sobrepeso</td>
</tr>

<tr>
<td>30 – 34.9</td>
<td>Obesidade grau I</td>
</tr>

<tr>
<td>35 – 39.9</td>
<td>Obesidade grau II</td>
</tr>

<tr>
<td>40 ou mais</td>
<td>Obesidade grau III</td>
</tr>

</tbody>

</table>

</div>

</div>

</div>

</div>

{% endblock %}